body{
  padding: 0;
  padding-top: 70px;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  background-color: #FFFFFF;
}

.nav-link{
  color: brown;
}

.nav-link:hover{
  color: rgb(14, 250, 73);
}

@media screen and (max-width: 480px) {
  .navbar-nav {
    
  }

 

  
}
